<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="4.0" sku=".NETFramework, Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Customers" connectionString="Data Source=ElevenPC; Database=Customers"></add>
	</connectionStrings>
	<appSettings>
		<add key="DALTypeDLL" value="Vik1ang.Libraries.DAL.BaseDAL,Vik1ang.Libraries.DAL" />
	</appSettings>
</configuration>